@import url('https://fonts.bunny.net/css?family=source-sans-pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
@import './tailwind.css';

/*  ============================================================
    Global Reset & Base
    ============================================================ */
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1 {
  font-size: var(--heading-size);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  line-height: 1.25;
  @apply from-[#2a4bb4]
    via-primary
    to-[#2a4bb4]
    bg-linear-to-r;
}

body {
  margin: 0;
  font-family:
    'Source Sans 3',
    'Source Sans Pro',
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  background: #121620;
  color: #fff;
}

a {
  text-decoration: none;
}

/*  ============================================================
    Page Transition Animation
    ============================================================ */
#page-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

body.page-transition #page-content {
  opacity: 0;
}

/* ============================================================
   Global Classes and Id's
   ============================================================ */
#links a {
  opacity: 60%;
  transition-duration: 200ms;

  &:hover {
    opacity: 100%;
    @apply transition-opacity;
  }
}

/*  ============================================================
    Global Responsive calc-based values
    ============================================================ */
:root {
  --min-height: calc(100vh - 104px);
  /* --min-height: calc(100vh - 104px); */
  --padding: 60px 80px;
  /* --padding: 80px 80px; */
  --heading-size: 36px;
  --text-size: 20px;
}

/* NOTE: Measurements are done according to TailwindCSS
  responsive design

  https://tailwindcss.com/docs/responsive-design#overview */

/* 64rem = 1024px */
@media (width < 64rem) {
  :root {
    --min-height: calc(100vh - 84px);
    /* --min-height: calc(100vh - 84px); */
    /* --padding: 48px 28px; */
    /* --padding: 48px 28px; */
  }
}

/* 40rem = 640px */
@media (width < 40rem) {
  :root {
    --padding: 32px 20px;
    /* --padding: 32px 20px; */
    --heading-size: 28px;
    --text-size: 17px;
  }
}
